<!DOCTYPE html>
<html lang="en" xmlns="http:://w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Progetto</title>
</head>
<body>
	<h1>TAG:</h1>

	<form id="aggiungiTagProgetto" th:action="@{/tags/aggiungi}" method="POST">
		<div>
			<table>
			

				<tr>
					<td><label for="tagNomeInput">Nome Tag:</label>
					<td><input id="tagNomeInput" type="text"
						th:field="${tagForm.nome}" placeholder="NOME" /></td>
					<td th:if="${#fields.hasErrors('tagForm.nome')}"
						th:errors="${tagForm.nome}" th:style="'color:red'"></td>


				</tr>
				<tr>
					<td><label for="tagDescrizioneInput">Descrizione tag:</label>
					<td><input id="tagDescrizioneInput" type="text"
						th:field="${tagForm.descrizione}" placeholder="DESCRIZIONE" /></td>
					<td th:if="${#fields.hasErrors('tagForm.descrizione')}"
						th:errors="${tagForm.descrizione}" th:style="'color:red'"></td>


				</tr>
				
					<tr>
					<td><label for="tagColoreInput">Colore tag:</label>
					<td><input id="tagColoreInput" type="text"
						th:field="${tagForm.colore}" placeholder="COLORE" /></td>
					<td th:if="${#fields.hasErrors('tagForm.descrizione')}"
						th:errors="${tagForm.descrizione}" th:style="'color:red'"></td>


				</tr>


				<tr>
					<td>
						<button type="submit">Aggiungi</button>
					</td>
				</tr>
			</table>


		</div>
	</form>
	<footer>
	
	<h4><a th:href="@{/home}"> Home</a></h4>
   
	</footer>

</body>
</html>