<!DOCTYPE html>
<html lang="en" xmlns="http:://w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Progetto</title>
</head>
<body>
	<h1 th:text="'Benvenuto, ' + ${utente.nome} + '!'"></h1>
	<h4>
		<a href="/progetti"> Miei Progetti</a>
	</h4>

	<h4>
		<a href="/index"> Condivisi con me</a>
	</h4>
	<h4>
		<a href="/progetti/aggiungi"> Crea nuovo Progetto</a>
	</h4>
	<h4>
		<a href="/utenti/me"> Profilo</a>
	</h4>
	<h4>
		<a href="/logout"> Logout</a>
	</h4>

</body>

</html>