<!DOCTYPE html>
<html lang="en" xmlns="http:://w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Progetto</title>
</head>
<body>
	<h1 th:text="'Nome: '+ ${progetto.nome}"></h1>
	<form method="GET" th:action="@{/progetti/modifica}">
		<button type="submit" name="submit" value="value">AGGIORNA</button>
	</form>
	<!-- 	<h4>
	
		<a th:if=${loggedUtente.id}==${progetto.proprietario.id}
			href="/progetti/modifica"> Aggiorna progetto</a>
	</h4> -->
	<hr>
	<table>
		<thead>
			<tr>
				<th><a th:if=${loggedUtente.id}==${progetto.proprietario.id}
					href="/addTask"> AGGIUNGI </a>TASK:</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="task : ${progetto.taskContenuti}">
				<td><br>-<a th:href="'/task/' + ${task.id}"
					th:text="${task.nome}"> </a></td> 
				<td th:if=${loggedUtente.id}==${progetto.proprietario.id}><br>
					<form method="POST"
						th:action="@{/task/{id}/elimina(id=${task.id})}">
						<button type="submit" name="submit" value="value">DELETE</button>
					</form></td>
				<td th:if=${loggedUtente.id}==${progetto.proprietario.id}><br>
					<form method="GET"
						th:action="@{/task/{id}/modifica(id=${task.id})}">
						<button type="submit" name="submit" value="value">AGGIORNA</button>
					</form></td>
			</tr>
		</tbody>
	</table>

	<hr>

	<table>
		<thead>
			<tr>
				<th><a th:if=${loggedUtente.id}==${progetto.proprietario.id}
					href="/addTag"> AGGIUNGI </a>TAG:</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tag : ${progetto.tags}">
				<td><br>
					<div th:style="'color:'+${tag.colore}" th:text="${tag.nome}"></div>
					<div th:text="${tag.descrizione}" style="color: gray"></div></td>
		</tbody>
	</table>

	<hr>
	<table>
		<thead>
			<tr>
				<th><a th:if=${loggedUtente.id}==${progetto.proprietario.id}
					href="/progetti/membro">CONDIVIDI CON </a>UTENTE:</th>
			</tr>
		</thead>
		<tbody th:if="${membri.size() > 0}">
			<tr th:each="membro : ${membri}">
				<td><br>
					<div th:text="'-' +${membro.nome} + ' ' + ${membro.cognome}"></div>
				</td>
			</tr>
		</tbody>
	</table>


	<br>
	<nav>


		<a th:href="@{/home}"> Home</a> <a th:href="@{/progetti}"> Miei
			Progetti</a>


	</nav>

</body>
</html>