<!DOCTYPE html>
<html lang="en" xmlns="http:://w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Progetto</title>
</head>
<body>
	<h1 th:text="'Nome: '+ ${progetto.nome}"></h1>
	<hr>

	<a href="/addTask"> AGGIUNGI</a>

	<span>TASK:</span>
	<ul>
		<li th:each="task : ${progetto.taskContenuti}">
			<div>
				<a href="/task" th:text="${task.nome}"> </a>
			</div>
	</ul>
	<hr>

	<a href="/addTag"> AGGIUNGI</a>

	<span>TAG:</span>

	<ul>
		<li th:each="tag : ${progetto.tags}">
			<div th:style="'color:'+${tag.colore}" th:text="${tag.nome}"></div>
			<div th:text="${tag.descrizione}" style="color: gray"></div>
	</ul>
	<hr>


	<a href="/progetti/membro">CONDIVIDI CON </a>

	<span>UTENTE</span>

	<div th:if="${membri.size() > 0}">

		<ul>
			<li th:each="membro : ${membri}">
				<div th:text="${membro.nome} + ' ' + ${membro.cognome}"></div>
		</ul>


	</div>
	<br>
	<nav>


		<a th:href="@{/home}"> Home</a> <a th:href="@{/progetti}"> Miei
			Progetti</a>


	</nav>

</body>
</html>